@font-face {
  font-family: "Sans-Regular";
  src: url("../fonts/_Sans/eot/Sans-Regular.eot");
  src: url("../fonts/_Sans/eot/Sans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/_Sans/woff2/Sans-Regular.woff2") format("woff2"), url("../fonts/_Sans/woff/Sans-Regular.woff") format("woff"), url("../fonts/_Sans/ttf/Sans-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Sans-RegularItalic";
  src: url("../fonts/_Sans/eot/Sans-RegularItalic.eot");
  src: url("../fonts/_Sans/eot/Sans-RegularItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/_Sans/woff2/Sans-RegularItalic.woff2") format("woff2"), url("../fonts/_Sans/woff/Sans-RegularItalic.woff") format("woff"), url("../fonts/_Sans/ttf/Sans-RegularItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Sans-Medium";
  src: url("../fonts/_Sans/eot/Sans-Medium.eot");
  src: url("../fonts/_Sans/eot/Sans-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/_Sans/woff2/Sans-Medium.woff2") format("woff2"), url("../fonts/_Sans/woff/Sans-Medium.woff") format("woff"), url("../fonts/_Sans/ttf/Sans-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Sans-MediumItalic";
  src: url("../fonts/_Sans/eot/Sans-MediumItalic.eot");
  src: url("../fonts/_Sans/eot/Sans-MediumItalic?#iefix") format("embedded-opentype"), url("../fonts/_Sans/woff2/Sans-MediumItalic.woff2") format("woff2"), url("../fonts/_Sans/woff/Sans-MediumItalic.woff") format("woff"), url("../fonts/_Sans/ttf/Sans-MediumItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Sans-Light";
  src: url("../fonts/_Sans/eot/Sans-Light.eot");
  src: url("../fonts/_Sans/eot/Sans-Light?#iefix") format("embedded-opentype"), url("../fonts/_Sans/woff2/Sans-Light.woff2") format("woff2"), url("../fonts/_Sans/woff/Sans-Light.woff") format("woff"), url("../fonts/_Sans/ttf/Sans-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: "Sans-LightItalic";
  src: url("../fonts/_Sans/eot/Sans-LightItalic.eot");
  src: url("../fonts/_Sans/eot/Sans-LightItalic?#iefix") format("embedded-opentype"), url("../fonts/_Sans/woff2/Sans-LightItalic.woff2") format("woff2"), url("../fonts/_Sans/woff/Sans-LightItalic.woff") format("woff"), url("../fonts/_Sans/ttf/Sans-LightItalic.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }
